<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Fournisseur</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='assets/css/style.css' )}}" />
</head>

<body>
  <section class="all-content">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
      <div class="container">
        <a href="index.html" class="navbar-brand">ECO SUD</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item px-2">
              <a href="{{url_for('dashboard')}}" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item px-2">
              <a href="{{url_for('articles')}}" class="nav-link">Articles</a>
            </li>
            <li class="nav-item px-2">
              <a href="{{url_for('fournisseur')}}" class="nav-link">Fournisseur</a>
            </li>
            <li class="nav-item px-2">
              <a href="{{url_for('email')}}" class="nav-link">Email</a>
            </li>
            <li class="nav-item px-2">
              <a href="{{url_for('messages')}}" class="nav-link">Messages</a>
            </li>
            <li class="nav-item px-2">
               <a href="{{url_for('purchases')}}" class="nav-link ">Commandes</a>
             </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-3">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-user"></i> Bienvenue {{session.username}}
              </a>
              <div class="dropdown-menu">
                <a href="{{url_for('profile')}}" class="dropdown-item">
                  <i class="fas fa-user-circle"></i> Profile</a>
                  <a href="settings.html" class="dropdown-item">
                    <i class="fas fa-cog"></i> Settings</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="{{url_for('logout')}}" class="nav-link">
                    <i class="fas fa-user-times"></i> Déconnexion
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!--HEADER-->
        <header id="main-nav" class="py-2 bg-primary text-white">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h1>Post One</h1>
              </div>
            </div>
          </div>
        </header>
        <!--END HEADER-->

        <!--ACTIONS-->
        <section id="actions" class="py-4 mb-4 bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <a href="{{url_for('dashboard')}}" class="btn btn-light btn-block">
                  <i class="fas fa-arrow-left"></i> Retour au tableau de bord
                </a>
              </div>
              <form action="{{url_for('delete', delete_id=git_id_fournisseur.id_fornisseure ) }}" method="post">
              <div class="col-md-3">
                <button class="btn btn-danger btn-block">
                  <i class="fas fa-trash"></i> Delete Post
                </button>
              </div>
              </form>
            </div>
          </div>
        </section>
        <!--END ACTIONS-->

        <!-- DETAILS-->
        <section id="details">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <h4>Modifier l'article</h4>
                  </div>
                  <div class="card-body">
                    <form action="{{url_for('editf', f_id=git_id_fournisseur.id_fornisseure)}}" method="post">
                      <div class="form-group">
                        <label for="title">Nom</label>
                        <input type="text" class="form-control" name="nom" value="{{git_id_fournisseur.nom}}" />
                      </div>
                      <div class="form-group">
                        <label for="title">Ville</label>
                        <input type="text" class="form-control" name="ville" value="{{git_id_fournisseur.ville}}" />
                      </div>
                      <div class="form-group">
                        <label for="title">Adresse</label>
                        <input type="text" class="form-control" name="adresse" value="{{git_id_fournisseur.adresse}}" />
                      </div>
                      <div class="form-group">
                        <label for="title">Spécialite</label>
                        <input type="text" class="form-control" name="specialite" value="{{git_id_fournisseur.specialite}}" />
                      </div>
                      <div class="form-group">
                        <label for="title">Fax</label>
                        <input type="text" class="form-control" name="fax" value="{{git_id_fournisseur.fax}}" />
                      </div>
                      <div class="form-group">
                        <label for="title">Telephone</label>
                        <input type="text" class="form-control" name="telephone" value="{{git_id_fournisseur.telephone}}" />
                      </div>
                      <div class="form-group">
                        <label for="body">Description</label>
                        <textarea name="editor1" class="form-control">{{git_id_fournisseur.editor1}} </textarea>
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-success btn-block">
                          <i class="fas fa-check"></i> Save Changes
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- END DETAILS-->
      </section>
      <!--FOOTER-->
      <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
        <div class="container">
          <div class="row">
            <div class="col">
              <p class="lead text-center">
                Copyright &copy; <span id="year"></span>
                Blogen
              </p>
            </div>
          </div>
        </div>
      </footer>
      <!--END FOOTER-->
    </body>

    </html>
    <script src="{{ url_for('static', filename='assets/js/jquery-3.3.1.min.js' )}}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js' )}}"></script>
    <script src="{{ url_for('static', filename='assets/js/js.js' )}}"></script>
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>

    <script>
      CKEDITOR.replace('editor1');
    </script>